*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
    color: rgb(48, 48, 48);
}

p{
    color: rgb(48, 48, 48);
}

#cta{
    display: block;  
}

.video{
    text-align: center;
}

/* DESKTOP */
@media only screen and (min-width: 900px){
    .main{
        background-color: white;
        padding-left: 200px;
        padding-right: 200px;
        padding-top: 25px;
    }

    .footer{
        background-color: white;
    }

    .headline{
        text-align: center;
        color: rgb(48, 48, 48);
    }

    .subheadline{
        text-align: center;
        color: rgb(48, 48, 48);
        padding-top: 15px;
        padding-bottom: 25px;
    }

    .button{
        background-color: rgb(12, 192, 12);
        color: white;
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
        margin-top: 25px;
        margin-right: 250px;
        margin-left: 250px;
        border-radius: 6px;      
    }

    h3{
        font-weight: 400;
        font-size: 16px;
    }

    .footer{
        padding-top: 300px;
        padding-bottom: 50px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-align: center;
    }

    .disclaimer{
        text-align: justify;
        font-size: 14px;
        padding-left: 100px;
    }
}

/* MOBILE */
@media only screen and (max-width: 600px){
    .main{
        background-color: white;
        padding-top: 25px;
    }

    .footer{
        background-color: white;
    }

    .headline{
        text-align: center;
        color: rgb(48, 48, 48);
        font-size: 12px;
    }

    .subheadline{
        text-align: center;
        color: rgb(48, 48, 48);
        padding-top: 15px;
        padding-bottom: 25px;
    }

    .button{
        background-color: rgb(12, 192, 12);
        color: white;
        text-align: center;
        font-weight: bold;
        padding-top: 20px;
        padding-bottom: 20px;
        margin-top: 25px;
        margin-right: 20px;
        margin-left: 20px;
        border-radius: 6px;           
    }

    h3{
        font-weight: 400;
        font-size: 14px;
    }

    .footer{
        padding-top: 300px;
        padding-bottom: 50px;
        text-align: center;
    }

    .disclaimer{
        text-align: justify;
        font-size: 14px;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 20px;
    }
}

/* TABLET */
@media only screen and (min-width: 601px) and (max-width: 899px){
    .main{
        background-color: white;
        padding-top: 25px;
    }

    .footer{
        background-color: white;
    }

    .headline{
        text-align: center;
        color: rgb(48, 48, 48);
    }

    .subheadline{
        text-align: center;
        color: rgb(48, 48, 48);
        padding-top: 15px;
        padding-bottom: 25px;
    }

    .button{
        background-color: rgb(12, 192, 12);
        color: white;
        text-align: center;
        font-weight: bold;
        padding-top: 20px;
        padding-bottom: 20px;
        margin-top: 25px;
        margin-right: 100px;
        margin-left: 100px;
        border-radius: 6px;           
    }

    h3{
        font-weight: 400;
        font-size: 16px;
    }

    .footer{
        padding-top: 300px;
        padding-bottom: 50px;
        text-align: center;
    }

    .disclaimer{
        text-align: justify;
        font-size: 14px;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 20px;
    }
}